//Media Breakpoints
$container-width-mobile: 320px;
$container-width-tablet: 768px;
$container-width-desktop: 1280px;

// НОВИЙ ROOT---------------
:root {
  --container-padding: 20px;
  --container-padding-tablet: 32px;

  /* card-set */

  --items: 1;
  --indent: 16px;
  --color-input: #ffffff;
  --bagrBagdrop: rgba(255, 255, 255, 0.2);
  --color-bagrMob: #171717;
  --color-body: #000;
  --color-titleAll: #fff;
  --color-H4card: #fff;
  --color-logo: #fff;
  --color-headerNav: #b7b7b7;
  --color-heroPage: #f8f8f8;
  --color-battonText: #111111;
  --color-OrangText: #f87719;
  --color-upcomingParams: #b7b7b7;
  --color-upcomingValue: #fff;
  --color-upcomingValueVotes: #111111;
  --baggr-upcomingValueVotes: #fff;
  --bagroundModal: #111111;
  --linear-gradient-1: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  --linear-gradient-2: linear-gradient(141.22deg, #f84119 9.4%, rgba(248, 159, 25, 0.68) 91.91%);

  // buttons
  --btn-main-color: #111111;
  --border-main-btn-1: none;
  --bcgr-main-1: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  --bcgr-main-2: linear-gradient(141.22deg, #f84119 9.4%, rgba(248, 159, 25, 0.68) 91.91%);
  --border-main-btn-1: none;
  --bcgr-color-search-2: #fff;

  

  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

:root[theme='dark'] {
  --container-padding: 20px;
  --container-padding-tablet: 32px;

  /* card-set */
  --items: 1;
  --indent: 16px;
  --color-input: #595959;
  --bagrBagdrop: rgba(0, 0, 0, 0.2);
  --color-bagrMob: #f8f8f8;
  --color-body: #fff;
  --color-titleAll: #111111;
  --color-H4card: #fff;
  --color-logo: #282828;
  --color-headerNav: #595959;
  --color-heroPage: #282828;
  --color-battonText: #111111;
  --color-OrangText: #f87719;
  --color-upcomingParams: #111111;
  --color-upcomingValue: #282828;
  --color-upcomingValueVotes: #282828;
  --baggr-upcomingValueVotes: #f8f8f8;
  --bagroundModal: #fff;
  --linear-gradient-1: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  --linear-gradient-2: linear-gradient(141.22deg, #f84119 9.4%, rgba(248, 159, 25, 0.68) 91.91%);

  // buttons
  // --btn-main-color: #f87719;
  
  // --bcgr-main-1: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  //   --bcgr-main-2: linear-gradient(141.22deg, #f84119 9.4%, rgba(248, 159, 25, 0.68) 91.91%);
  //   --border-main-btn-1: none;  
    // --bcgr-main-2: linear-gradient(141.22deg, #fff, #fff) padding-box,
  //   linear-gradient(141.22deg, #f84119 9.4%, rgba(248, 159, 25, 0.68) 91.91%) border-box;
  
  // --border-main-btn-2: none;

  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
