<img src="/src/images/icon-close.png" alt="" class="test" />
<div class="mobile_modal-conainer">
  <img src="/src/images/icon-close.png" alt="" class="close_modal-cross" />
  <div class="mobile_modal-conainerflex">
    <img src="/src/images/modalmobilepict.png" alt="" class="mobile-modal-png" />
    <a href="" class="mobile-modal-link">HOME</a>
    <a href="" class="mobile-modal-link">CATALOG</a>
    <a href="" class="mobile-modal-link">MY LIBRARY</a>
  </div>
  <script src="/src/js/mobile-modal.js"></script>
</div>
