<div id="trailer-ok" class="backdrop backdrop--hidden">
    <div class="modal backdrop__modal">
        <div class="modal-trailer-success">
            <include
                src="./partials/modals/close-button.html"
            ></include>
            <iframe
                class="trailer-video"
                src="https://www.youtube.com/embed/AAE5VZktooM"
                allowfullscreen
            ></iframe>
            <!-- <iframe id="player"></iframe> -->
            <!-- <iframe
                id="vimeo-player"
                src="https://player.vimeo.com/video/236203659"
                width="640"
                height="360"
                frameborder="0"
                allowfullscreen
                allow="autoplay; encrypted-media"
            ></iframe> -->
        </div>
    </div>
</div>
