<div class="backdrop backdrop--hidden">
  <div class="mobile_modal-conainer is-hidden">
    <!-- <img src="/src/images/icon-close.png" alt="" class="close_modal-cross" /> -->
    <svg class="close_modal-cross">
      <use href="/src/images/iconssvg.svg#icon-close-outline"></use>
    </svg>
    <div class="mobile_modal-conainerflex">
      <img src="/src/images/header__logo.png" alt="Logo" class="mobile-modal-png" />
      <ul class="mobile-modal__list">
        <li class="mobile-modal__item">
          <a href="/src/index.html" class="mobile-modal-link js-home">Home</a>
        </li>
        <li class="mobile-modal__item">
          <a href="/src/catalog.html" class="mobile-modal-link js-catalog">Catalog</a>
        </li>
        <li class="mobile-modal__item">
          <a href="/src/library.html" class="mobile-modal-link js-library">My library</a>
        </li>
      </ul>
    </div>
  </div>
</div>
