
<!----- кнопки iз загальними класами ----->

<!-- button  Watch trailer -->

     <button type="button" class="button button--main">
      <span>Watch trailer</span>

<!-- button  Geg started -->

      <button type="button" class="button button--main">
      <span>Geg started</span>


<!-- button Add to my library -->

    <button type="button" class="button button--add">
      <span>Add to my library</span>
    </button>

<!-- button--search -->

    <button type="submit" class="button button--search">
      <span> 
        <svg width="20" height="20" class="search-icon">
        <use href="./images/symbol-defs.svg#icon-search"></use></svg
                  >
      </span>
    </button>
 




  <!----- кнопки із спеціфічними класами -- button--load-more- / button--search-movie-/  -button--remind-->

<!-- button Load more -->  

<button type="button" class="button button--main button--load-more">
      <span>Load more</span>
    </button>


    

<!-- button Search movie --> 

    <button type="button" class="button button--main button--search-movie">
      <span>Search movie</span>
    </button>

<!-- button Remind me --> 

     <button type="button" class="button button--main button--remind">
      <span>Remind me</span>
      
    </button>
 