<div class="buttons-container">
    <h1>light theme</h1>
    <button type="button" class="gallery button main-button main-button--light">
      <span>Load more</span>
      
    </button>
     <button type="button" class="button main-button main-button--light">
      <span>Watch trailer</span>
      
    </button>
     <button type="button" class="remind button main-button main-button--light">
      <span>Remind me</span>
      
    </button>
    <button type="button" class="button add-button add-button--light">
      <span>Remove from my library</span>
    </button>

    <button type="button" class="button search-button search-button--light">
      <span> 
        <svg width="20" height="20" class="search-icon">
                      <use href="#"></use></svg
                  >
      </span>
    </button>
  </div>

<div class="buttons-container">
    <h1>dark theme</h1>
    <button type="button" class="gallery button main-button main-button--dark">
      <span>Load more</span>
      
    </button>
     <button type="button" class="button main-button main-button--dark">
      <span>Watch trailer</span>
      
    </button>
     <button type="button" class="remind button main-button main-button--dark">
      <span>Remind me</span>
      
    </button>

    <button type="button" class="button add-button add-button--dark">
      <span>Remove from my library</span>
    </button>

    <button type="button" class="button search-button search-button--dark">
      <span> 
        <svg width="20" height="20" class="search-icon">
                      <use href="#"></use></svg
                  >
      </span>
    </button>
  </div>