<div class="card-set__item">
    <img
        class="card__image"
        loading="lazy"
        src="./images/card-image-desktop.jpg"
        alt=""
    />
    <div class="card__footer">
        <div class="card__descr">
            <p class="card__name">name</p>
            <p class="card__details">
                <span>genre</span><span> | </span
                ><span>year</span>
            </p>
        </div>
        <div class="card__rate">
            <img
                src="./images/card-rate-mobile.png"
                alt="stars"
            />
        </div>
    </div>
</div>
