<footer>
  <div class="container">
    <div class="footer__page">
      <p class="footer__copyright">&copy; 2023 | All Rights Reserved |&nbsp;</p>
      <div class="footer__developers">
        <p>Developed with</p>
        <span class="footer__icon">
          <svg width="14" height="14" class="footer__icon icon-heart">
            <use href="./images/icons_new.svg#icon-heart"></use>
          </svg>
        </span>
        <p class="footer__team-modal-js">
          by <span class="footer__team-modal">GoIT Students </span>
        </p>
      </div>
    </div>
  </div>
</footer>
