<header class="main-header">
  <div class="container">
    <div class="logo"></div>
    <nav class="main-navigation">
      <ul class="main-navigation__list">
        <li class="main-navigation__item">
          <a href="/src/index.html" class="main-navigation__link">Home</a>
        </li>
        <li class="main-navigation__item">
          <a href="/src/catalog.html" class="main-navigation__link">Catalog</a>
        </li>
        <li class="main-navigation__item">
          <a href="/src/library.html" class="main-navigation__link">My library</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
