<header class="header">
  <a class="header__logo" href="#">
    <img src="./images/cinema_logo.svg" alt="Cinemania  logo">
  </a>
  <button class="header__menu-toggle" aria-expanded="false" 
  aria-controls="menu-container"  data-menu-btn>
    Menu
  </button>
  <div class="container">
    <nav class="navigation">
    <ul class="header__menu">
      <li class="test"><a href="#" class="header__menu-link">HOME</a></li>
      <li class="test"><a href="catalog.html" class="header__menu-link">CATALOG</a></li>
      <li class="test"><a href="library.html" class="header__menu-link">MY LIBRARY</a></li>
    </ul>
  </nav>
  </div>
  <script src="./js/mobile-menu.js"></script>
</header>