<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="./index.html">
        <img width="32" height="32" class="header__icon-menu" src="./images/header__logo.png" alt="Logo" />
      </a>
      <a class="header__logo" href="/src/index.html">
        <img width="60" height="60" class="header__icon" src="./images/header__logo.png" alt="Logo" />
        <span class="header__title">Cinemania</span>
      </a>
      <button class="header__menu-toggle">Menu</button>
      <nav class="header__navigation">
        <ul class="header__menu">
          <li class="header-menu__item"><a href="./index.html" class="header__menu-link js-home">Home</a></li>
          <li class="header-menu__item"><a href="./catalog.html" class="header__menu-link js-catalog">Catalog</a></li>
          <li class="header-menu__item">
            <a href="./library.html" class="header__menu-link js-library">My library</a>
          </li>
        </ul>
      </nav>

      <button class="button-switch">
        <img src="/src/images/Component 11.png" class="switch-day size-swit" />
        <img src="/src/images/Group 770843.png" class="switch-night size-swit" />
      </button>
    </div>
  </div>
</header>
