<section class="hero">
  <div class="container hero__container library-container">
    <div class="hero__info">
      <h1 class="hero__title">Ghosted</h1>

      <p class="hero__text page">
        Salt-of-the-earth Cole falls head over heels for enigmatic Sadie — but
        then makes the shocking discovery that she’s a secret agent.
      </p>
      <button type="button" class="hero__button" data-modal-open>
        <a href="/src/library.html" class="hero__get-catalog">Watch trailer</a>
      </button>
    </div>
  </div>
</section>
