<section class="hero page__section--margin-lg" id="imgB">
  <div class="hero__bagraundTwo hero-home">
    <div class="container hero__container library-container">
      <div class="hero__info">
        <h1 class="hero__title hero__title-color" id="titleB">Ghosted</h1>
        <div>
          <img src="/src/images/card-rate-mobile.png" class="hero__star" />
        </div>
        <p class="hero__text hero__text-width" id="textB">
          Salt-of-the-earth Cole falls head over heels for enigmatic Sadie — but then makes the shocking discovery that
          she’s a secret agent.
        </p>
        <button type="button" class="button button-main button-home" id="watch-trailer-btn">
          <span>Watch trailer</span>
        </button>

        <div class="slide-home"></div>
      </div>
    </div>
  </div>
</section>
