<section class="hero page__section--margin-lg" id="img">
  <div class="hero__bagraundTwo">
    <div class="container hero__container">
      <div class="hero__info">
        <h1 class="hero__title hero__title-color">
          Let’s Make Your
          <br class="hero__title-br" />Own Cinema<br />
        </h1>
        <p class="hero__text" id="text">
          Is a guide to creating a personalized movie theater experience. You'll need a projector, screen, and speakers.
          <span class="hero__spanhiden">
            Decorate your space, choose your films, and stock up on snacks for the full experience.</span
          >
        </p>

        <a href="/src/catalog.html" class="hero__get-catalog button button-main" id="get-started-btn">Get Started</a>
      </div>
    </div>
  </div>
</section>
