<div class="backdrop backdrop--hidden">
  <div class="modal backdrop__modal modal-for-film">
    <include src="./partials/modals/close-button.html"></include>
    <div class="modal-film-info">
      <div class="poster-block">
        <img
          class="poster"
          src="/src/images/modal-popup/previev-film.jpg"
          alt="film"
        />
      </div>
      <div class="film-information">
        <h2 class="film-information-title">John Wick: Chapter 4</h2>
        <table class="rating-table">
          <tr>
            <td class="table-subtitle>">Vote / Votes</td>
            <td class="table-info"><span class="rating">7.3</span> / 1260</td>
          </tr>
          <tr>
            <td class="table-subtitle">Popularity</td>
            <td class="table-info">100.2</td>
          </tr>
          <tr>
            <td class="table-subtitle">Genre</td>
            <td class="table-info">Action Thriller Crime</td>
          </tr>
        </table>
        <p class="about">About</p>
        <p class="about-film">
          John Wick (Keanu Reeves) takes on his most lethal adversaries yet in
          the upcoming fourth instalment of the series. With the price on his
          head ever increasing, John Wick uncovers a path to defeating The High
          Table. But before he can earn his freedom, Wick must face off against
          a new enemy with powerful alliances across the globe and forces that
          turn old friends into foes.
        </p>
        <div class="button-add">
          <button type="button" class="button-add">Add to my library</button>
        </div>
      </div>
    </div>
  </div>
</div>
