<div class="container">
  <div class="not-found-film-library">
    <p class="not-found-film-library__text">
      <span class="not-found-film-library__text-item">OOPS...</span>
      <span class="not-found-film-library__text-item">We are very sorry!</span>
      <span class="not-found-film-library__text-item">You don’t have any movies at your library.</span>
    </p>
    <a
      href="./catalog.html"
      class="not-found-film-library__link not-found-film__button button button-main button-main--height-desktop-52"
      id="search-movie-btn"
    >
      <span>Search movie</span></a
    >
  </div>
</div>
