<section class="page__section page__section--margin-sm">
    <div class="container search-form-container">
        <h2 class="visually-hidden">Search form</h2>
        <form class="search-form">
            <input
                id="search-form"
                type="text"
                name="query"
                class="search-form__input"
                placeholder="Film"
            />

            <button
                type="submit"
                class="button button-search search-form__button"
            >
                <svg
                    width="20"
                    height="20"
                    class="button-search__search-icon"
                >
                    <use
                        href="./images/symbol-defs.svg#icon-search"
                    ></use>
                </svg>
            </button>
        </form>
        <div class="search-form__fail-search"></div>
    </div>
</section>
