.movi-card-general-set {
  margin-bottom: 32px;

  @include mq(tablet) {
    flex-basis: calc((100% - 32px) / 3);
    margin-right: 16px;
    margin-bottom: 28px;

    &:nth-child(3n) {
      margin-right: 0px;
    }
  }

  @include mq(desktop) {
    margin-bottom: 32px;
  }
}

.card__item {
  position: relative;
  width: 280px;
  height: auto;
  @media screen and (min-width: $container-width-tablet) {
    width: 224px;
  }
  @media screen and (min-width: $container-width-desktop) {
    width: 395px;
  }
}
.card__image {
  border-radius: 5px;
}
.card__footer {
  position: absolute;
  background: linear-gradient(to bottom, rgb(0, 0, 0, 0.075), black);
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  width: 100%;
  height: 52px;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 5px;
}
.card__descr {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  @media screen and (min-width: $container-width-tablet) {
    line-height: 1.5;
  }
  @media screen and (min-width: $container-width-desktop) {
    font-size: 20px;
    line-height: 1.2;
  }
}
.card__name {
  color: white;
  text-transform: uppercase;
}
.card__details {
  color: #b7b7b7;
  text-transform: capitalize;
}

.card__rate {
  width: 86px;
  height: auto;
  @media screen and (min-width: $container-width-tablet) {
    width: 66px;
  }
  @media screen and (min-width: $container-width-desktop) {
    width: 106px;
  }
}
.card__rate--list {
  @extend %list;
  display: flex;
  width: 100%;
  align-items: flex-end;
}
.card__rate--item {
  margin-right: 5.5px;
}
.card__rate--img {
  width: 15px;
  height: 14px;
}
