.card__item {
    position: relative;
    width: 280px;
    height: auto;
}
.card__image {
    border-radius: 5px;
}
.card__footer {
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    background:linear-gradient(to bottom, rgb(0, 0, 0, .2), black);
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    width: 100%;
    height: 52px;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 5px;
}
.card__descr {

}
.card__name {
color: white;
text-transform: capitalize;    
}
.card__details {
    color: #B7B7B7;
    text-transform: capitalize;
}

.card__rate {

    width: 86px;
    height: auto;

}