

// // Стили для мобильного меню
// // Стили для мобильного меню
// .mobile-menu {
//     position: fixed;
//     top: 80px;
//     right: 0;
//     bottom: 0;
//     width: 100%;
//     background-color: #ffffff;
//     z-index: 1;
//     transform: translateX(100%);
//     transition: transform 0.3s ease-in-out;
  
//     &.active {
//       transform: translateX(0);
//     }
  
//     &__list {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       justify-content: center;
//       height: 100%;
//       padding: 0;
//       margin: 0;
  
//       & > li {
//         list-style: none;
//         margin-bottom: 20px;
//         text-align: center;
//       }
//     }
  
//     &__link {
//       display: block;
//       font-size: 20px;
//       font-weight: bold;
//       color: #000000;
//       text-decoration: none;
//       transition: color 0.3s ease-in-out;
  
//       &:hover,
//       &:focus {
//         color: #e50914;
//       }
//     }
//   }
  
//   // Стили для кнопки меню
//   .menu-btn {
//     display: none;
//   }
  
//   // Стили для хедера на планшете и выше
//   @media screen and (min-width: 768px){
//     .menu-btn {
//         display: none;
//       }
//     } 
  
//     .header {
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       height: 80px;
//       padding: 0 20px;
//       background-color: #000000;
//       box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
//       &__logo {
//         width: 150px;
//         height: 50px;
        
//         background-size: contain;
//         background-repeat: no-repeat;
//         background-position: center;
//         cursor: pointer;
//       }
  
//       &__nav {
//         display: flex;
//         align-items: center;
  
//         &__link {
//             display: none;
//           font-size: 16px;
//           font-weight: bold;
//           color: #000000;
//           text-decoration: none;
//           margin-left: 30px;
//           transition: color 0.3s ease-in-out;
  
//           &:hover,
//           &:focus {
//             color: #e50914;
//           }
//         }
//       }
//     }
  
.header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px;
    background-color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .menu-container { 
    display: flex;
  }
  
  .header__menu { 
    display: none;
  }

  @media screen and (min-width: 768px) {
  
    .header__menu { 
        display: flex;
        list-style: none;
       align-items: center;
       flex-wrap: nowrap;
       gap: 32px;
       margin: 0;
       padding: 0;
    }
 .header__menu-link { 
    
    font-size: 14px;
  line-height: 16px;
  text-align: center;
  
  color: #FFFFFF;
  text-decoration: none
  
 }

    }

  
  .header__menu-toggle { 
    border: none;
    background-color: inherit;
    color: #B7B7B7;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) {
    .header__menu-toggle { 
        display: none;
        
    }
    .header__menu {
      display: flex;
      list-style: none;
      align-items: center;
      flex-wrap: nowrap;
      gap: 32px;
      margin: 0 auto;
      padding: 0;
      justify-content: center;
    }
    
    .header__menu li {
      margin: 0;
    }
    
    .header__menu-link {
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #FFFFFF;
      text-decoration: none;
    }
    }

    

 
  
  .header__logo {
    margin: 18px 0 27px 37px;
    width: 32px;
    height: 32px;
  }



  .menu-btn{
    display: inline-flex;
    margin: 0;
    padding: 12px 8px;
    border: none;
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 2;
    &__close,
    &__menu{
        fill: var(--title-color);
    }
    
    &__menu:hover, :focus{
    fill: var(--accent-color);
    }
    &__close:hover, :focus{
    fill: var(--accent-color);
    }
           
    @media screen and (min-width: 768px) {
    display: none;
    } 
    }
        
    
    
        
    .menu-container{
        background-color: var(--primary-color);
        
        @media screen and (max-width: 767px) {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        &.is-open{
        
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        z-index: 1;
        }
        } 
        @media screen and (min-width: 768px) {
        display: flex;
        padding: 0;
        align-items: center;
        }     
        }