.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 0 20px;
  background-color: var(--color-black);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  @include mq(tablet) {
    height: 60px;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo {
  @extend %link;
  display: flex;
  left: 0;
  position: absolute;
  margin-left: 21px;

  @include mq(tablet) {
    margin-left: 32px;
  }
}

.icon-cinema_logo {
  display: flex;
  width: 40px;
  height: 35px;
  max-width: 60px;
  justify-content: left;

  @include mq(tablet) {
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: 6px;
  }
}

.header__title {
  display: none;
  color: var(--color-white);
  font-weight: 400;
  font-size: 24px;
  line-height: 1.1;
  @extend %link;

  text-decoration: none;
  @include mq(tablet) {
    display: flex;
    padding-top: 16px;
    padding-left: 6px;
    margin-left: 50px;
  }
}

.header__menu-toggle {
  width: 34px;
  height: 14px;
  @extend %link;
  background-color: var(--color-black);
  border: none;
  color: var(--color-grey-2);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  @include mq(tablet) {
    display: none;
  }
}

.header__menu-link.current {
  color: var(--color-primary);
}

.header__menu {
  display: none;
  @extend %list;

  @include mq(tablet) {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 32px;
  }

  @include mq(desktop) {
    gap: 40px;
  }
}

.header__menu-link {
  @extend %link;

  @include mq(tablet) {
    cursor: pointer;
    font-size: 14px;
    line-height: 1.1;

    color: var(--color-grey-2);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover,
  &:focus {
    color: var(--color-primary);
  }
}
