ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.team-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  @media screen and (min-width: $container-width-mobile) {
    margin-top: 70px;
    width: 300px;
    border-radius: 15px;
  }

  @media screen and (min-width: $container-width-tablet) {
    width: 600px;
    border-radius: 25px;
  }
  @media screen and (min-width: $container-width-desktop) {
    margin: -30px;
    width: 800px;
  }
}

.team-card {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  flex-basis: calc((100% - 80px) / 3);
  @media screen and (min-width: $container-width-tablet) {
    margin: 10px;
    flex-basis: calc((100% - 160px) / 4);
  }
  @media screen and (min-width: $container-width-desktop) {
    flex-basis: calc((100% - 160px) / 4);
  }
}

.team-image {
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 30%;
  box-shadow: 5px 5px 11px -2px dark;
}
.team-name {
  margin-bottom: 5px;
  font-family: Roboto;
  font-weight: 700;
}
.team-role {
  font-family: Roboto;
  color: orange;
  @media screen and (min-width: $container-width-tablet) {
    font-size: 16px;
  }
}

.team-modal {
  text-decoration: underline;
  cursor: pointer;
  background-color: var(--color-body);
  border-radius: 5%;
}
.light .modal-content {
  background-color: var(--color-white);
}
.modal-content {
  background-color: var(--color-body);
  border-radius: 5%;
  box-shadow: 1px 1px 14px 4px #ff6b086b;
  @media screen and (min-width: $container-width-tablet) {
    padding: 20px;
  }
}
.close_modal-cross {
  fill: currentColor;
  width: 7px;
  height: 7px;
}
