
// .popup-modal-win {
//   top: 0;
//   left: 20%;
//   transform: translate(0, 0);
// }


.modal__popup {
  width: 280px;
  max-height: 100vh;
  height: 847px;
  background-color: var(--bagroundModal);
  padding: 55px 16px;
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  border-radius: 20px;
  overflow: auto;
}

.filmpage__poster {
  margin-bottom: 22px;
}

.filmpage__img {
  width: 248px;
  height: 315px;
  box-shadow: 1px 1px 24px 2px rgba(1, 1, 1, 0.45);
  border-radius: 5px;
}

.filmpage__title {
  //font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 29px;
  color: var(--color-titleAll);
}

.filmpage__table {
  margin-bottom: 20px;
}

.filmpage__table--rating {
  display: inline-block;
  background-color: var(--baggr-upcomingValueVotes);
  color: var(--color-battonText);
  border-radius: 5px;
  width: 33px;
  height: 16px;
  text-align: center;
  padding: 1px 8px;
}

.filmpage__table--rating2 {
  display: inline-block;
  background-color: var(--baggr-upcomingValueVotes);
  color: var(--color-battonText);
  border-radius: 5px;
  width: 38px;
  height: 16px;
  text-align: center;
  padding: 0 3px;
}

.filmpage__table--subtitle {
  //font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--color-upcomingParams);
  padding-right: 62px;
  padding-bottom: 12px;
}

.filmpage__table--information {
  //font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--color-titleAll);
}

.filmpage__table--headline {
  //font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: var(--color-upcomingParams);
}

.filmpage__table--description {
  //font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.66;
  margin-bottom: 16px;
  color: var(--color-heroPage);
}

// .button-add {
//   //   display: flex;
//   align-items: center;
// }

// .button-add {
//   width: 140px;
//   background-color: var(--color-black);
//   color: var(--color-white);
//   height: 38px;
//   font-family: 'Roboto', sans-serif;
//   font-weight: 500;
//   font-size: 12px;
//   line-height: 1.33;
//   text-transform: uppercase;
//   border-radius: 74px;
//   border: 1px linear #ffc226 #f84119;
//   cursor: pointer;
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover,
//   &:focus {
//     background-color: var(--color-white);
//     color: #f87719;
//     border: 1px solid var(--color-black);
//   }
// }

@media screen and (min-width: $container-width-tablet) {
  .popup-modal-win {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  .modal__popup {
    width: 704px;
    height: 488px;
    padding: 44px;
    overflow: hidden;
  }

  .filmpage {
    display: flex;
    align-items: flex-start;
    gap: 16px;
  }


  .filmpage__img {
    width: 294px;
    height: 400px;

  // .filmpage__poster {
  //   width: 295px;
  //   height: 403px;
  // }

  }

  .filmpage__title {
    font-size: 24px;
    line-height: 1.16;
    margin-bottom: 27px;
  }

  .filmpage__table--rating {
    width: 33px;
    height: 16px;
  }

  .filmpage__table--subtitle {
    font-size: 14px;
    line-height: 1.14;
  }

  .filmpage__table--description {
    width: 300px;
    max-height: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (min-width: $container-width-desktop) {
  .modal__popup {
    width: 844px;
    height: 598px;
    padding: 57px 59px;
  }

  .filmpage {
    gap: 20px;
  }

  .filmpage__img {
    width: 375px;
    height: 478px;
  }

  .filmpage__table--rating {
    width: 36px;
    height: 18px;
  }

  .filmpage__table--subtitle {
    font-size: 16px;
    line-height: 1.18;
    margin-right: 62px;
  }

  .filmpage__table--headline {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 16px;
  }

  .filmpage__table--description {
    font-size: 14px;
    line-height: 1.42;
    width: 300px;
  }
}
