.icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon-heart {
  width: 14px;
  color: #f87719;
}
.team-member {
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
}
