.pagination {
  @extend %list;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}

.pagination__cercle a {
  @extend %link;
}

.pagination__item:nth-child(-n + 5) {
  margin-right: 8px;
  @include mq(tablet) {
    margin-right: 16px;
  }
}

.pagination__item__pointer:first-child {
  margin-right: 17px;
  @include mq(tablet) {
    margin-right: 22px;
  }
}

.pagination__item__pointer:last-child {
  margin-left: 17px;
  @include mq(tablet) {
    margin-left: 22px;
  }
}

.pagination__cercle {
  width: 24px;
  height: 24px;
  font-size: 10px;
  line-height: 2.4;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  @include mq(tablet) {
    width: 40px;
    height: 40px;
    line-height: 2.8;
    font-size: 14px;
  }
}

.pagination__cercle--current-page {
  background: var(--linear-gradient-1);
  border: 1px solid transparent;
}

.pagination__pointer {
  height: 11px;
  width: 6px;
  stroke: #f8f8f8;
  @include mq(tablet) {
    height: 16px;
    width: 8px;
  }
}
.pagination__pointer:hover {
  stroke: #595959;
}

body {
  background-color: black;
}
