/*----------  Card set  ----------*/

.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
  }

  .card__item {
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  }