.container {
  max-width: 1200px;
  margin: 0 auto;
}
.footer {
  background-color: #f5f5f5;
  padding: 40px 0;
  font-size: 16px;
  text-align: center;
}

.icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  /* margin-left: 10px; */
  margin-right: 10px;
  animation: beat 1s infinite;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.icon-heart {
  width: 14px;
  color: #f87719;
}
.team-member {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #b7b7b7;
}
@media screen and (min-width: 767px) {
  .team-member {
    font-size: 16px;
    line-height: 1.12;
  }
}

.team-member_text {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 80px 0;
  }
}

/* декстоп */
@media only screen and (min-width: 992px) {
  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* таблет */
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* мобільні пристрої */
@media only screen and (max-width: 767px) {
  .footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
